<h1><strong>Editing Book</strong></h1>

<%= form_with model:@book, local:true do |f|%>
  <div class="new-form">
    <label for="book-title">Title</label>
    <%= f.text_field :title %>
  </div>
  <div class="new-form">
    <label for="book-body">Body</label>
    <%= f.text_area :body %>
  </div>
  <%= f.submit ' Update Book ' %>

<% end %>

<nav>
  <ul>
    <li><%= link_to "Show", book_path(@book) %></li><span> | </span>
    <li><%= link_to "Back", books_path %></li>
  </ul>
</nav>